body {
	text-align: center;
}
table {
	border: 1px solid black;	
}
td {
	text-align: center;
}
.botmar {
	margin-bottom: 10px;
}
header {
	position: sticky;
	top: 0;
	background-color: #eee;
	width: 100%;
	height: 100px;
	color: white;
	line-height: 100px;
	text-align: center;
	font-family: arial;
	font-size: 25px;
}